.modal-cancel {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #66666683;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;

    h2 {
      padding: 10px;
    }
    div {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: end;
      a {
        display: inline-block;
        margin-right: 5px;
        padding: 10px 15px;
        text-decoration: none;
        color: #fff;
        background-color: #82b0db;
        border-radius: 5px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
          background-color: #db8f82;
        }

        &:hover {
          background-color: #555;
        }
      }
    }
  }
}

.formEdit {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .cardRegister {
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 10px;
    .cardRegisterHeader {
      background-color: #428ec9;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      justify-content: space-between;
      .cardRegisterPhoto {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
      }
      .buttons {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        font-size: 30px;
        :nth-last-child(2) {
          color: #c0e8ff;
          cursor: pointer;
        }
        &:last-child {
          color: #f44336;
          margin-left: 15px;
          cursor: pointer;
          :hover {
            filter: drop-shadow(1px 1px 5px rgba(194, 194, 194, 0.5));
          }
        }
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }

      h3 {
        margin: 0;
        font-size: 1.2rem;
        color: #fff;
      }
    }

    .cardRegisterBody {
      padding: 10px;

      p {
        margin: 5px 0;
        font-size: 0.9rem;
        color: #666;
      }

      .address {
        margin-top: 10px;
        font-size: 0.9rem;

        p {
          margin: 3px 0;
          font-size: 0.9rem;
        }
        .addressInfo {
          display: flex;
          flex-flow: row wrap;
          p {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
